/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 5 déc. 2019, 22:59:53
    Author     : theogutierrez
*/
body{
    background-image: url("../Images/fondEcran.png");
    background-size: cover;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.size-image-categorie{
    width: 200px;
    height: auto;
}

.button-choix{
    width: 400px;
    line-height:100px;
    text-align:center;
}

.button-choix:hover {
color:blue;
text-decoration:none;
}

